amplify/workflows/statemachines/prompt-increment-star.asl.json
{
  "Comment": "Workflow to process prompt interaction events and update counters in DynamoDB",
  "StartAt": "IncrementStarCount",
  "States": {
    "IncrementStarCount": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": "${PromptTable}",
        "Key": {
          "id": {
            "S": "{% $states.input.detail.promptId %}"
          }
        },
        "UpdateExpression": "SET starCount = if_not_exists(starCount, :zero) + :inc",
        "ExpressionAttributeValues": {
          ":inc": {
            "N": "1"
          },
          ":zero": {
            "N": "0"
          }
        },
        "ReturnValues": "UPDATED_NEW"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "DynamoDB.ConditionalCheckFailedException",
            "DynamoDB.ProvisionedThroughputExceededException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Fail"
        }
      ],
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONata"
}
